/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: rgb(54,58,86);
$headingColor: rgb(21,167,170);

$mainFontSize: 38px;
$mainFont: 'Ariel', sans-serif;
$headingFont: 'Ariel', sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 700;
$linkColor: #2a76dd;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.0em;
$heading2Size: 1.5em;
$heading3Size: 1.2em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

// Altran styles
section.title {
	color: white;
	vertical-align: middle;
}

.slide-number {
	color: $mainColor !important;
	background-color: rgba(0,0,0,0) !important;
	left: 0px;
	right: auto !important;
	margin-left: 4px !important;
}

#footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 2em;
	text-align: center;
}

.reveal section img {
	border: none !important;
	box-shadow: none !important;
}

.multiCol {
    display: table;
    table-layout: fixed; // don't fudge depending on content
    width: 100%;
    text-align: left; // matter of taste, makes imho sense
    .col {
        display: table-cell;
        vertical-align: top;
        width: 50%;
        padding: 2% 0 2% 3%; // some vertical, and between columns
        &:first-of-type { padding-left: 0; } // there's nothing before col1
    }
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
